
{% extends 'main.html' %}

{% block content %}

<div class="container">
  <h2>โปรส่งใครมาช่วยฉันที</h2>
  <p2 style="color:blue;">ส่งเรื่องราวของคุณมาแล้วเราจะติดต่อกลับไป</p2>
  <form >
    
    <input type="text" id="txtMessage" placeholder="ข้อความที่ฝากไว้ให้เธอ"><br>
    <input type="text" id="txtName" placeholder="บอกชื่อเธอกับฉัน"><br><br>
    <input type="button" id="btnSendMsg" value="ส่ง" style="background-color:blue;color:rgb(255, 255, 255);" >
  </form>
  
  

  
</div>


{% endblock %}
